/* ************ Kalender ********** */
.calendar {
  background-color: dodgerblue;
  width: 70%;
  
}
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;  
}
.calendar-weekdays {
  background-color: firebrick;
  height: 10%;
  justify-items: center;
  align-items: center;
}

.calendar-days {
  background-color: white;
  height: 90%;
  border-left: 2px solid black;
  border-top: 2px solid black;
}

.calendar-days li {
  padding: 0.5rem;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calendar-days li:hover {
  background-color: rgba(246, 201, 201, 0.384);
  transition: background-color .3s;
}