/* ************ Kalender ********** */
.calendar {
  background-color: var(--color3);
  width: 70%;
  height: 100%;
  padding: 0 4rem 4rem 2rem;
}
.calendar-header {
  height:10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.calendar-chevron {
  transition: 0.3s;
}
.calendar-chevron:hover {
  font-size: 2.5rem;
  transition: 0.3s;
  
}
.calendar-title {
  padding: 0 2rem 0 2rem;
}

.calender-container {
  filter: drop-shadow(0.3rem 0.8rem 0.75rem rgba(70, 69, 70, 0.671));
  height: 90%;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  list-style: none; 
}
.calendar-weekdays {
  background-color: var(--color2);
  height: 10%;
  justify-items: center;
  align-items: center;
  border-radius: 5px;
}

.calendar-days {
  background-color: var(--color5);
  height: 90%;
  border-top: 1px solid #dadada;
}

.calendar-days li {
  height: 100%;
  padding: 0.5rem;
  border-right: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.calendar-days .number-of-todos {
  text-align: left;
  height: 20%;
}

.calendar-days .date {
  font-size: 2.5rem;
  font-weight: bold;
  height: 60%;
}

.calendar-days .holiday {
  height: 20%;
}

.calendar-days li:nth-child(7n) {
  border-right: none;
}

.calendar-days li:nth-last-of-type(-n+7) {
  border-bottom: none;
}

.calendar-days li:hover {
  background-color: var(--color4);
  transition: background-color .3s;
}

.day-fill {
  background-color: rgb(241, 240, 240)
}

.active {
  background-color: var(--color3);
}

