.date-time-container {
  padding: 0.65rem 1rem;
}

.date-time-container h2 {
  text-align: center;
  font-size: 2.6rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  /* font-weight: normal; */
  /* margin-bottom: -.6rem; */
}

.date-time-container > div {
  display: flex;
  justify-content: space-around;
}

.todays-date {
  font-size: 1.4rem;
}
