:root {
  --color1: #05386b;
  --color2: #379683;
  --color3: #5cdb95;
  --color4: #8ee4af;
  --color5: rgb(250, 250, 250);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Helvetica, arial;
  height: 100%;
  /* font-family: "Quando", serif; */
  font-family: "Scope One", serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Heebo", sans-serif;
}

.main-header {
  background-color: var(--color1);
  color: var(--color1);
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 10%;
  border-bottom: 2px solid var(--color1);
}

.main-header h1 {
  margin: 0;
  display: fixed;
  color: var(--color3);
  font-size:9rem;
}
.quote {
  background-color: var(--color4);
  border-radius: 50px;
  text-align: center;
  padding: 0.4rem;
  /* filter: drop-shadow(0.3rem 0.8rem 0.75rem rgba(70, 69, 70, 0.671)); */
}

main {
  display: flex;
  height: 100%;
  background-color: var(--color3);
}
@media (max-width: 900px) {
  main {
    display: block;
    width: 100%;
  }
  .todo {
    height: auto;
    width: 100%;
    padding-bottom: 2rem;
  }
  .calendar {
    width: 100%;
    padding: 1rem;
  }
}

@media (max-width: 767px) {
  .calendar {
    display: none;
  }
  .todo {
    width: 100%;
  }
}

