/* ************ ToDo ********** */
.todo {
  background-color: var(--color3);
  width: 30%;
}
.date-time-container {
  border-bottom: 1px solid black;
  padding: 1rem;
}

.date-time-container h2{
  text-align: center;
}

.date-time-container > div {
  display: flex;
  justify-content: space-around;
}

.todo-list-container {
  padding: 1rem;
  font-size: 1.2rem;
  background-color:var(--color5);
}

.todo-list-container h2 {
  text-align: center;
}

.todo-list {
 list-style: none;
 padding: 2rem;
}

.todo-list li {
  height: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  border-bottom: 1px solid #dadada;
  /* margin: 0.9rem 0; */
}

.todo-list li:last-child {
  border-bottom: none;
}

.todo-list li .done {
  text-decoration: line-through;
}

.todo-list li input[type="checkbox"] {
  width: 1.4rem;
  height: 1.4rem;

}

.todo-list li label {
  width: 80%;
  margin: .5rem 0;
  padding: .9rem 0;
  font-size: 1.3rem;
}

.todo-list li > span {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 1px solid #dadada;
}

.todo-list li > div {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
}

.todo-list li > div i {
  padding-right: .5rem;
}


.add-todo-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 2rem;
}

.add-todo-container input{
  width: 85%;
  padding: 0.9rem 0.5rem;
  box-shadow: 2px 2px 4px rgba(61, 61, 61, 0.301);
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  outline: none;
}

.add-todo-container button{
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(61, 61, 61, 0.301);
  background: var(--color3);
  width: 10%;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  outline: none;
}


